<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Todo | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {{ include('navbar.html.twig') }}
</header>

<main role="main" id="content">
    {# permet au besoin d'afficher le contenu sur 100% de la largeur #}
    {% block full_body_header %}{% endblock %}

    <div class="container py-4 px-3 mx-auto">
        <div class="fr-mb-5w">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} d-flex justify-content-between mb-0">
                        <p class="mb-0">{{ message | trans}}</p>
                        <button class="btn-close btn" title="Masquer le message"
                                onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </div>
    {# permet au besoin d'afficher le contenu sur 100% de la largeur #}
    {% block full_body %}{% endblock %}
</main>
<footer>
    {{ include('footer.html.twig') }}
</footer>
</body>
</html>
